body {
	color: #5c5c5c;
	background: #F3F3F3;
	font-family: "Helvetica Neue","Helvetica","STHeiTi","sans-serif","Microsoft YaHei","\5fae\8f6f\96c5\9ed1";
	font-size: 14px;
	text-align: center;}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {
	margin: 0 auto;
	padding: 0;}
input, select {
	font-size: 16px;
	vertical-align: middle;}
textarea, input {
	word-wrap: break-word;
	word-break: break-all;
	padding:0px;}
li {list-style-type: none;}
img {border: 0 none;}
a {
	color: #5c5c5c;
	font-size: 14px;
	text-decoration: none;}
/*===================*/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?dnyavr');
    src:    url('../fonts/icomoon.eot?dnyavr#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?dnyavr') format('truetype'),
        url('../fonts/icomoon.woff?dnyavr') format('woff'),
        url('../fonts/icomoon.svg?dnyavr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e900";
}
.icon-bin:before {
    content: "\e903";
}
.icon-heart:before {
    content: "\e901";
}
.icon-next:before {
    content: "\e902";
}
/*===========*/
.wrap {
	overflow: hidden;
	max-width: 640px;
	min-width: 320px;
	background-color: #fff;
}
.homepage {	
	width: 100%;
	background-color: #fbfbfa;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background-color: #fdfdfd;
	border-bottom: 1px solid #ccc;
}
.ul-title {
	width: 100%;
	overflow: hidden;
}
@media screen and (max-height: 580px) {
	.ul-title {
		padding-left: 18px;
	}
	.ul-title li{
		margin-right: 40px;
	}
	.ul-title li:nth-child(4) {
		margin-right: 30px;
	}
	.ul-title li:nth-child(5) {
		margin-right: 0;
	}
}
@media screen and (min-height: 650px) {
	.ul-title {
		padding-left: 25px;
	}
	.ul-title li{
		margin-right: 50px;
	}
	.ul-title li:nth-child(4) {
		margin-right: 42px;
	}
	.ul-title li:nth-child(5) {
		margin-right: 0;
	}
}
@media screen and (min-height: 720px) {
	.ul-title {
		padding-left: 28px;
	}
	.ul-title li{
		margin-right: 53px;
	}
	.ul-title li:nth-child(4) {
		margin-right: 45px;
	}
	.ul-title li:nth-child(5) {
		margin-right: 0;
	}	
}
.ul-title li {
	float: left;
	height: 48px;
	line-height: 46px;
}
.ul-title li a {
	font-size: 16px;
	display: block;
	width: 32px;
}
.ul-title li .icon-search {
	width: 16px;
	margin-top: 16px;
}
.ul-title .li-underline {
	color: #5cbc7d;
	border-bottom: 2px solid #5cbc7d;
}
.ul-title .li-underline-red {
	color: #5cbc7d;
	border-bottom: 2px solid #ff4660;
}
.content {
	overflow: hidden;
}
.content-box {
	width: 3000px;
}
.content-box .content-box-li {
	width: 375px;
	float: left;
}
.seat {height: 48px;}
.list {display: block;}
.list ul li {
	display: inline-block;
	width: 100%;
	height: 65px;
	line-height: 65px;
	border-bottom: 1px solid #f5f5f5;
}
.last-list-information {
	margin-bottom: 60px;
}
.list-information img {
	float: left;
	width: 42px;
	height: 42px;
	margin: 12px;
	border-radius: 50px;
}
.list-information a {
	float: left;
	width: 60%;
	white-space:nowrap;
	text-align: left;
	overflow: hidden;
	font-size: 16px;
}
.list-information span {
	font-size: 14px;
	color: #ccc;
	padding-left: 4px;
	letter-spacing: 1px;
}
.list .list-title {height: 26px;}
.list .list-title span {
	display: block;
	text-align: left;
	font-size: 12px;
	color: #ccc;
	line-height: 26px;
	margin-left: 15px;
}
.footer {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	background-color: #fff;
	box-shadow: 0 -1px 10px 2px rgba(0, 0, 0, .1);
}
.footer img {
	margin:10px;
	margin-right: 6px;
}
.footer .song {
	font-size: 14px;
	color: #000;
	width: 48%;
	padding-top: 14px;
	text-align: left;
}
.song span {
	display: block;
	height: 18px;
	overflow: hidden;
	line-height: 18px;
}
.footer a .footer-song-name {
	font-size: 16px;
	color: #000;
	letter-spacing: 0px;
}
.footer a .footer-state {
	font-size: 12px;
	margin-top: 2px;
}
.footer .button {
	width: 14%;
	font-size: 20px;
	color: #777;
	padding-top: 20px;
}
.footer .icon-heart {
	padding-left: 6px;
}
.footer .icon-heart-click {
	color: #ff4660;
}
.footer .icon-next {
	font-size: 26px;
	padding: 18px 0 0 34px;
}
@media screen and (max-height: 580px) {
	.footer .icon-next {
		font-size: 26px;
		padding: 18px 0 0 10px;
	}
}
@media screen and (min-height: 650px) {
	.footer .icon-next {
		font-size: 26px;
		padding: 18px 0 0 14px;
	}
}
@media screen and (min-height: 720px) {
	.footer .icon-heart {
		padding-left: 28px;
	
	}
	.footer .icon-next {
		font-size: 26px;
		padding: 18px 0 0 10px;
}